@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Start */
body {
  font-family: "Inter", sans-serif;
}

/* Header */
.header {
  @apply bg-transparent absolute top-0 left-0 w-full flex items-center z-10;
}

.navbar-container {
  @apply flex items-center justify-between relative;
}

.navbar-brand {
  @apply font-bold text-2xl text-secondary block py-6 uppercase dark:text-white;
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-secondary dark:bg-white font-extrabold transition duration-300 ease-in-out;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white dark:bg-dark;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.08);
}

.nav-menu {
  @apply inset-0 py-3 bg-white dark:bg-dark w-full h-screen lg:h-auto top-20 lg:block lg:static lg:bg-transparent lg:max-w-full lg:shadow-none lg:rounded-none dark:shadow-slate-300 lg:dark:bg-transparent z-[9999] pl-5;
}

.nav-link {
  @apply hover:opacity-80 transition duration-300 ease-in-out mx-2 lg:mx-1 mt-1 text-secondary dark:text-white;
}

.nav-item {
  @apply text-base py-2 mx-2 flex hover:text-primary;
}

.language-switcher {
  @apply hover:opacity-80 transition duration-300 ease-in-out mx-2 lg:mx-1 mt-1 text-secondary dark:text-white;
}

.language-button {
  @apply mx-2 lg:mx-1 text-base py-2 hover:text-primary;
}

.theme-toggle {
  @apply relative transition duration-300 ease-in-out mt-1 text-secondary dark:text-white mx-4 lg:mx-1;
}
.theme-button {
  @apply text-base py-2 flex items-center w-full hover:text-primary;
}

.theme-dropdown {
  @apply absolute right-0 mt-2 bg-white dark:bg-dark rounded-lg w-full z-10 py-2 lg:w-32;
}

.theme-option {
  @apply flex items-center justify-between p-2 hover:text-primary cursor-pointer text-base py-2 mx-2;
}

.theme-option .i {
  @apply text-sm text-secondary dark:text-white group-hover:text-primary;
}
#nav-menu {
  transition: max-height 0.3s ease-in-out;
}

#homeLink.active,
#aboutLink.active,
#experienceLink.active,
#educationLink.active,
#portofolioLink.active,
#skillLink.active,
#contactLink.active {
  @apply text-primary font-bold;
}
/* Header End */

/* Swiper Button */
.swiper-navBtn {
  @apply hover:text-slate-500 hover:bg-teal-50 transition-all bg-white w-10 h-10 rounded-full p-5 shadow-lg dark:bg-slate-500 dark:text-slate-300 dark:hover:bg-slate-300 dark:hover:text-slate-500;
}
/* Swiper Button */

/* Fotter Start */
.footer-section {
  @apply bg-dark pt-36 pb-12;
}

.footer-content {
  @apply flex flex-wrap justify-center text-center;
}
.footer-location {
  @apply w-full px-4 mb-12 text-slate-300 font-medium lg:w-1/2;
}
.footer-title {
  @apply font-bold text-white text-2xl uppercase mb-2;
}
.footer-subtitle {
  @apply font-bold text-xl;
}
.footer-contact {
  @apply w-full mb-12 text-slate-300 font-medium lg:w-1/2;
}
.footer-icon {
  @apply flex mb-5 justify-center;
}
.a-footer {
  @apply w-9 h-9 lg:w-12 lg:h-12 mr-3 lg:mr-4 rounded-full flex justify-center items-center border-2 border-slate-500 text-slate-500 hover:bg-primary hover:text-white hover:border-2 hover:border-white;
}
.footer-bottom {
  @apply w-full pt-10 border-t border-slate-700;
}

.footer-cr {
  @apply font-medium text-base text-slate-500 text-center;
}
.footer-author {
  @apply font-bold text-primary;
}
/* Footer End */
/* Back To Top Start*/
.back-to-top {
  @apply h-12 w-12 lg:h-14 lg:w-14 bg-primary justify-around items-center fixed z-[9999] bottom-4 right-4 rounded-full p-2 hover:animate-pulse;
}
/* Back To Top End*/
/* Genaral */

/* index.html Start */
/* Home Start*/
.home-title {
  @apply text-base font-semibold text-primary md:text-xl;
}

.home-name {
  @apply block font-bold text-dark text-4xl mt-1 lg:text-5xl dark:text-white uppercase;
}
.home-job {
  @apply font-medium text-secondary text-lg mb-5 lg:text-2xl;
}

.home-job-1 {
  @apply text-dark dark:text-white;
}

.home-contact {
  @apply w-9 h-9 lg:w-12 lg:h-12 mr-3 lg:mr-4 rounded-full flex justify-center items-center border-2 border-slate-500 text-slate-500 hover:bg-primary hover:text-white dark:text-primary hover:border-2 hover:border-white  dark:shadow-primary dark:border-2 dark:border-primary dark:hover:border-white dark:hover:text-white lg:text-2xl;
}
.home-content {
  @apply w-full self-end px-4 lg:w-1/2 lg:pt-0 mt-10 lg:mt-0;
}
.home-svg {
  @apply absolute bottom-0 left-1/2 -translate-x-1/2 md:scale-125;
}
/* Home end */
/* About Start*/
.about-svg {
  @apply absolute bottom-0 left-1/2 -translate-x-1/2 md:scale-125;
}
.h2-about {
  @apply font-bold text-primary text-3xl mb-4 md:text-4xl lg:text-5xl uppercase;
}
.p-about {
  @apply font-medium text-base text-secondary max-w-xl lg:text-lg pb-4  text-justify indent-8;
}
/* About End*/
/* Experience Start */
.experience-content {
  @apply pt-24 pb-16 bg-slate-100 dark:bg-slate-800;
}

.experience-h2 {
  @apply font-bold text-primary text-3xl mb-4 md:text-4xl lg:text-5xl uppercase;
}

.card-experience {
  @apply bg-white rounded-xl overflow-hidden shadow-md shadow-primary dark:bg-dark dark:shadow-slate-700 hover:border-dark hover:shadow-lg  dark:hover:border-slate-600 hover:shadow-teal-600 py-5;
}

.img-experience {
  @apply flex items-center justify-center rounded-t-sm rounded-bl-3xl overflow-hidden dark:grayscale dark:opacity-60 dark:transition dark:hover:grayscale-0 dark:hover:opacity-100;
}
.pt-experience {
  @apply font-semibold text-lg lg:text-sm text-dark mt-5 dark:text-white capitalize;
}
.jabatan-experience {
  @apply font-medium text-sm lg:text-xs text-dark dark:text-white;
}
.masa-experience {
  @apply text-xs text-secondary mb-2;
}
/* Experience End */
/* Education Start */
.education-content {
  @apply pt-36 pb-32 bg-auto bg-no-repeat dark:grayscale dark:opacity-100 dark:transition dark:hover:grayscale-0 dark:hover:opacity-100;
}
.h2-education {
  @apply font-bold text-white text-3xl mb-4 md:text-4xl lg:text-5xl dark:grayscale uppercase;
}
.a-education {
  @apply py-4 dark:grayscale dark:opacity-60 dark:transition dark:hover:grayscale-0 dark:hover:opacity-100 lg:mx-6 xl:mx-auto items-center justify-center;
}
.img-education {
  @apply max-w-[120px] mx-auto;
}
.univ-education {
  @apply font-bold uppercase text-white text-lg;
}
.text-education {
  @apply font-medium text-base text-white;
}
/* Education End */
/* Portofolio index.html Start */
.portofolio-content {
  @apply pt-36 pb-32 bg-slate-100 dark:bg-dark;
}

.h2-portofolio {
  @apply font-bold text-dark text-3xl mb-4 md:text-4xl lg:text-5xl dark:text-white uppercase;
}

.text-portofolio {
  @apply font-medium text-secondary text-sm md:text-lg mb-4;
}

.border-portofolio {
  @apply border-t-2 md:border-t-4 max-w-xl mx-auto text-center border-teal-500 w-20 pt-4;
}

.card-portofolio {
  @apply bg-white rounded-xl overflow-hidden shadow-md shadow-primary dark:bg-dark dark:shadow-slate-700 hover:border-dark hover:shadow-lg dark:hover:border-slate-600 hover:shadow-teal-600;
}
.img-portofolio {
  @apply flex items-center justify-center rounded-t-sm rounded-bl-full overflow-hidden dark:grayscale dark:opacity-60 dark:transition dark:hover:grayscale-0 dark:hover:opacity-100;
}

.icon-portofolio {
  @apply text-base text-dark dark:text-white -mt-6 ml-1;
}
/* Portofolio index.html End */
/* Skill Start */
.card-skill {
  @apply bg-white shadow-lg dark:bg-dark py-4 rounded-lg xl:mx-auto xl:w-10/12;
}
.h2-skill {
  @apply font-bold text-primary uppercase text-3xl mb-4 md:text-4xl lg:text-5xl;
}
.p-skill {
  @apply font-medium text-xs text-secondary md:text-base dark:text-slate-300 mb-2;
}
.text-skill {
  @apply font-bold text-2xl text-dark dark:text-white mb-3;
}
.ul-skill {
  @apply text-secondary font-medium;
}
/* Skill End */
/* index.html End*/

/* experience.html Start*/
/* Hero Start */
.hero-content {
  @apply pt-36 pb-16 bg-slate-100 dark:bg-slate-800;
}

.h1-hero {
  @apply text-base font-semibold text-primary md:text-xl mb-2;
}

.name-hero {
  @apply block font-bold text-dark text-4xl mt-2 lg:text-5xl dark:text-white uppercase;
}

.h2-hero {
  @apply font-medium text-secondary text-sm lg:text-lg mb-5 mt-4;
}
/* Hero End */
/* Logo Section Start */
.logo-content {
  @apply pt-2 pb-2 bg-slate-400 dark:bg-slate-900 lg:dark:bg-slate-950;
}

.logo-img {
  @apply max-w-[75px] mx-auto lg:mx-6 xl:mx-8 dark:grayscale dark:hover:grayscale-0;
}
/* Logo Section End */
/* experience section Start */
.section-exp {
  @apply pb-16 lg:pb-0 lg:dark:bg-dark dark:bg-slate-700;
}
.background-exp {
  @apply bg-slate-200 dark:bg-slate-800 lg:dark:bg-slate-800 rounded-xl lg:rounded-none lg:pb-10;
}
.content-exp {
  @apply lg:mb-10 font-serif max-w-md lg:mx-auto sm:max-w-xl md:max-w-5xl px-2 py-4 lg:pt-16 lg:container lg:flex lg:max-w-full lg:px-0 rounded-xl;
}
.detail-exp {
  @apply lg:p-12 lg:flex-1 pb-4;
}
.header-exp {
  @apply flex items-center;
}
.logo-mobile {
  @apply max-w-[80px] lg:hidden;
}
.company-name {
  @apply ml-1 lg:ml-0 text-lg font-bold text-dark sm:text-3xl md:text-4xl dark:text-white;
}
.company-address {
  @apply ml-1 lg:ml-0 text-slate-800 dark:text-gray-400 text-base font-medium;
}
.job-duration {
  @apply text-sm text-dark dark:text-gray-400 ml-1 lg:ml-0;
}
.divider {
  @apply border-b border-slate-300 dark:border-slate-700 w-full lg:mt-2;
}
.job-role {
  @apply space-y-5 ml-10 mt-4;
}
.job-header {
  @apply relative ml-2 mt-4 flex items-center;
}
.job-icon {
  @apply absolute w-2 h-2 bg-slate-300 dark:bg-slate-700 rounded-full -left-3 transform -translate-y-1/2;
}
.job-title {
  @apply text-base font-extrabold text-dark dark:text-white ml-8 lg:ml-4;
}
.job-details {
  @apply -mt-12 -ml-0 border-l-2 border-slate-300 dark:border-slate-700;
}
.role-duration {
  @apply text-sm text-dark dark:text-gray-400 mt-1 ml-2 lg:-ml-2.5;
}
.job-description {
  @apply text-sm text-dark dark:text-white list-disc list-inside mt-2 ml-2 lg:-ml-2.5 pr-2;
}
.job-point {
  @apply pl-4 mb-2 -indent-4;
}
.job-button {
  @apply ml-4 text-gray-500 hover:text-blue-500 text-sm;
}
.logo-laptop {
  @apply hidden lg:flex lg:w-1/2 justify-center items-center;
}
.logo-style {
  @apply object-cover rounded-l-full;
}
.section-divider {
  @apply border-b border-slate-300 dark:border-slate-700 hidden lg:block container mx-auto mt-5;
}
.subsection-divider {
  @apply border-b border-slate-300 dark:border-slate-700 hidden lg:block w-[85%] mx-auto mt-2 mb-5;
}
/* experience section End */
/* experience.html End*/

/* Portofolio.html Start */
/* Hero Section Start */
.hero-prt {
  @apply pt-36 pb-16 bg-slate-100 dark:bg-dark;
}

.content-prt {
  @apply flex flex-wrap justify-center;
}

.text-prt {
  @apply w-full self-center px-4 lg:w-1/2 text-center;
}

.h1-prt {
  @apply text-base font-semibold text-primary  md:text-xl mb-2;
}

.span-prt {
  @apply block font-bold text-dark text-4xl mt-2 lg:text-5xl dark:text-white uppercase;
}

.desc-prt {
  @apply font-medium text-secondary text-base lg:text-lg mb-5 mt-4;
}
/* Hero Section End */
/* Icon Start */
.icon-prt {
  @apply pt-2 pb-2 bg-slate-200 dark:bg-slate-700 sticky top-20 z-10;
}

.border-icon {
  @apply border-teal-500 w-full;
}

.icon-links {
  @apply justify-center text-center lg:mx-6 xl:mx-8;
}

.portofolio-link {
  @apply mx-6 lg:mx-4 text-lg dark:text-white cursor-pointer;
}

.portofolio-link.active {
  @apply font-bold text-primary;
}

.icon {
  @apply text-3xl lg:text-lg;
}
/* Icon End*/
/* Portofolio Start */
.background-porto {
  @apply bg-slate-100 dark:bg-slate-800;
}

.container-porto {
  @apply justify-center;
}
/* Vektor Start */
.vektor {
  @apply font-sans grid grid-cols-3 gap-1 pt-4;
}

.vektor-1 {
  @apply aspect-[1/1] md:aspect-[1/1] xl:aspect-[1/1] overflow-hidden relative transition-all duration-500;
}

.vektor-2 {
  @apply w-full h-full bg-cover bg-center absolute group-hover:scale-150 transition-all duration-500;
}

.vektor-3 {
  @apply absolute inset-0 flex items-center justify-center transition-opacity duration-300 opacity-0 group-hover:opacity-100;
}

.vektor-4 {
  @apply absolute inset-0 bg-slate-600 opacity-50 hidden lg:block;
}

.vektor-5 {
  @apply text-white font-semibold text-sm lg:text-4xl z-0 hidden lg:block;
}
/* Vektor End */
/* Web Start */
.web {
  @apply font-sans grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 pt-5 pb-16;
}

.web-card {
  @apply bg-white rounded-xl overflow-hidden shadow-md shadow-primary dark:bg-dark dark:shadow-slate-700 hover:border-dark hover:shadow-lg dark:hover:border-slate-600 hover:shadow-teal-600 pb-5 text-center mt-4;
}

.web-img {
  @apply flex items-center justify-center rounded-t-sm overflow-hidden;
}

.web-text {
  @apply font-semibold text-sm  text-dark m-5 dark:text-white capitalize lg:font-bold;
}

.web-button {
  @apply text-xs font-semibold text-white bg-primary py-2 px-6 rounded-full hover:shadow-lg hover:opacity-80 transition duration-300 ease-in-out dark:bg-slate-700;
}
/* Web End */
/* Typography Start */
.typo {
  @apply grid grid-cols-2 gap-3 md:grid-cols-4 pt-4 pb-16 mb-0;
}

.grid-typo {
  @apply grid gap-2 md:gap-4;
}

.typo-1 {
  @apply rounded-xl overflow-hidden relative;
}

.typo-2 {
  @apply absolute inset-0 flex items-center justify-center transition-opacity duration-300 opacity-0 group-hover:opacity-100;
}

.typo-3 {
  @apply absolute inset-0 bg-dark opacity-70 hidden lg:block;
}

.typo-4 {
  @apply text-white font-semibold text-xl lg:text-2xl z-0 hidden lg:block;
}
/* Typography End */
/* Other Start*/
.other-text {
  @apply text-primary text-xl md:text-lg lg:text-2xl -mb-5 font-semibold;
}
/* Other Start */
.other-1 {
  @apply rounded-xl overflow-hidden dark:bg-dark border-2 dark:border-dark dark:shadow-none relative;
}
.other-2 {
  @apply absolute inset-0 flex items-center justify-center transition-opacity duration-300 opacity-0 group-hover:opacity-100;
}
.other-3 {
  @apply absolute inset-0 bg-slate-600 opacity-50 hidden lg:block;
}
.other-4 {
  @apply text-white font-semibold text-sm lg:text-2xl z-10 hidden lg:block;
}
.p-other {
  @apply text-primary text-sm md:text-lg pt-4 pb-2 font-semibold;
}
/* Other End*/

.porto-1 {
  @apply absolute inset-0 flex items-center justify-center;
}
.porto-2 {
  @apply absolute inset-0 bg-white dark:bg-slate-700 opacity-100;
}
.porto-3 {
  @apply text-dark hover:text-primary dark:text-white dark:hover:text-primary font-semibold text-sm lg:text-2xl z-0 text-center;
}
/* Portofolio.html End */
